body
.JugadoresContainer{
    
    background-color: aquamarine;
    position: absolute;
    display: block;
    width: 200px;
    justify-content: center;
    font-size: medium;
    width:max-content;
    right: 40px;
    height: 300px;
    top: 45px;
    


}
h1{
    margin: auto;
    text-align: center;
}

#Nos{
 text-align: center;
 margin-top: auto;
 font-size: small;
}
#ellos{
 text-align: center;
 margin-top: auto;
 font-size: small;

}

.JugadorContainer{
    display: inline-block;
    width: 45%;
    border-radius: 5px;
    margin: 10px;
    margin: 0;
    height: 70%;
    
}
.JugadoresContainer button{
    display:inline-block;
      
}
.buttons{
    margin: 0 auto;
    width: fit-content;
}

.JugadoresContainer p{
    margin: 0 ;
    text-align: center;
}